<footer class="p-4 bg-gray-900 md:p-8 lg:p-10 dark:bg-gray-800">
    <div class="mx-auto max-w-screen-xl text-center">
        <a href="#" class="flex justify-center items-center text-2xl font-semibold text-white dark:text-white">
            
            <img src="./../../../assets/logo.png"  width="15%" alt="">    
        </a>
        <!-- <p class="my-6 text-gray-500 dark:text-gray-400">Open-source library of over 400+ web components and interactive elements built for better web.</p> -->
   
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#" class="hover:underline">TSoftware Ecuador</a>. Todos los derechos reservados.</span>
    </div>
  </footer>